html {
  background-color: rgb(152, 137, 137);
}

.App {
  text-align:center;
}

.formBox {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  max-width: 50%;
  margin: auto;
}

.itemBox {
  margin: 10px;
  border-width: 2px;
}

.quantityBox {
  margin: 10px;
  border-width: 2px;
}

.submitButton {
  margin: auto;
  background-color: rgb(152, 137, 137);
  border-radius: 30px;
}

.shoppingListItems {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  border: 3px solid black;
  max-width: 50%;
  margin: auto;
  margin-top: 5px;
}

ul {
  padding-inline-start: 0;
}

button {
  margin: auto;
  margin-left: 5px;
  background-color: rgb(152, 137, 137);
  border-radius: 30px;
}